@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Colors
$green: #4ade80;
$blue: #60a5fa;
$skyblue: #7dd3fc;
$orange: #fb923c;
$yellow: #facc15;
$red: #f87171;
$gray: #a3a3a3;
$light: #e5e5e5;
$dark: #171717;

// Sizes
$spacing: 8px;
$radius: 8px;
$text: 16px;