@import '../styles/variables.scss';

.LoginPage {
    inputs {
        max-width: 500px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .BaseButton {
        margin-top: $spacing * 10;
        margin-bottom: $spacing;
    }

    @include media-breakpoint-up(sm) {
        .BaseButton {
            margin-top: auto;
        }
    }
}
