.BaseButton {
    padding:  6px 12px;
    border: none;
    border-radius: 6px;
    color: white;
    display: inline-block;
    width: 100%;
    font-weight: bold;

    &:hover {
        opacity: 0.8;
    }

    &.blue {
        background-color: #60A5FA;
    }
    
    &.orange {
        background-color: #fb923c;
    }
    
    &.yellow {
        background-color: #facc15;
    }
    
    &.green {
        background-color: #4ade8c;
    }
    
    &.red {
        background-color: #f87171;
    }
    
    &.gray {
        background-color: #a3a3a3;
    }
}



