@import '../styles/variables.scss';

.BaseButton {
    padding: $spacing $spacing * 2;
    border: none;
    border-radius: $radius;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.6px;

    svg {
        margin: 0 $spacing;
    }

    &:hover {
        opacity: 0.8;
    }

    &.blue {
        background-color: $blue;
    }

    &.skyblue {
        background-color: $skyblue;
    }

    &.orange {
        background-color: $orange;
    }

    &.yellow {
        background-color: $yellow;
    }

    &.green {
        background-color: $green;
    }

    &.red {
        background-color: $red;
    }

    &.gray {
        background-color: $gray;
    }

    &:disabled {
        opacity: 0.5;
    }
}
