@import '../styles/variables.scss';

.Header {
    background-color: black;
    color: white;
    padding: $spacing * 2;
    font-size: $text * 1.5;
    margin-bottom: $spacing * 2;
    text-align: center;

    .centered {
        text-align: center;
        flex: 1;
    }
    
    //Desktop
    @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: space-between;

        .info {
            text-align: right;
        }

        .centered {
            text-align: center;
            flex: 1;
        }
    }
}

