@import '~bootstrap/scss/bootstrap';

.Header {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: center;

    .centered {
        text-align: center;
        flex: 1;
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: space-between;

        .info {
            text-align: right;
        }

        .centered {
            text-align: center;
            flex: 1;
        }
    }
}

