@import '../styles/variables.scss';

.Input {
    margin-bottom: $spacing;

    .group {
        display: flex;
        align-items: center;
    }

    .label {
        margin-right: $spacing;
        width: $spacing * 10;
        min-width: $spacing * 10;
        text-align: right;
        white-space: nowrap;
    }

    .input {
        padding: $spacing $spacing * 2;
        border-radius: $radius;
        border: 1px solid $dark;
        display: block;
        width: 100%;
    }

    .invalid {
        border: 1px solid $red;
    }

    .error {
        color: $red;
        font-size: $text * 0.75;
        margin-left: 90px;
    }
}
