@import '../styles/variables.scss';

.Modal {
    .backdrop {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: 10;
    }

    .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .body {
        background-color: $light;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    @include media-breakpoint-up(sm) {
        .body {
            background-color: white;
            width: 600px;
            height: auto;
        }
    }

    .header {
        background-color: #a3a3a3;
        padding: $spacing $spacing * 2;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $text * 1.5;

        .icon {
            color: black;
        }

        .icon.chevron {
            visibility: visible;
        }

        .icon.times {
            visibility: hidden;
        }

        @include media-breakpoint-up(sm) {
            .icon.chevron {
                visibility: hidden;
            }

            .icon.times {
                visibility: visible;
            }
        }
    }

    .content {
        padding: $spacing * 2;
        flex: 1;
    }

    .footer {
        padding: $spacing * 2;

        @include media-breakpoint-up(sm) {
            & {
                display: flex;
            }

            & > * {
                margin-right: $spacing * 2;
            }

            & > *:last-child {
                margin-right: 0;
            }
        }
    }
}
