@import '../styles/variables.scss';

.UserInfoModal {
    background-color: $skyblue;
    color: white;
    display: flex;
    align-items: center;
    padding: $spacing * 2;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }

    .userInfo {
        font-size: $text * 2;
        margin-left: $spacing * 2;
        text-align: center;
        flex: 1;
    }

    .icon {
        color: $blue;
    }
}