@import '../styles/variables.scss';

.UserInfoModal {
    background-color: $skyblue;
    color: white;
    display: flex;
    align-items: center;
    padding: $spacing * 2;

    .userInfo {
        font-size: $text * 2;
        margin-left: $spacing * 2;
    }
}